@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.container{
    max-width: 1440px;
    width: 100%;
    height: 1870px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    

}
.InsideContainer{
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-between;
    
}
.leftCorner{
    width: 127.5px;
    height: 100%;

   
}
.rightCorner{
    width: 127.5px;
    height: 100%;
}
.leftRectangle{
    width: 127.5px;
    height: 236px;
    background-color: #E8EFF2;
    margin-top: 950px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.rightRectangle{

    width: 127.5px; 
    height: 236px;
    background-color: #E8EFF2;
    margin-top: 196px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.headerDiv{
    width: 100%; 
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.orangeDiv{
    width: 40px;
    height: 40px;
    background-color: #F16718;
}
.TM{
    margin-top: 6px;
    margin-left: 5px;
}
.preOrder{
    background-color: #E8EFF2;
    border-radius: 8px;
    width: 175px;
    height: 58px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #162542;
    font-family: 'Barlow';
}

.secondDiv{

    width: 100%;
    height: 480px;
    display: flex;
    justify-content: space-between;

}
.InsideSecondDiv{
    width: 540px;
    height: 480px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;


}
.thirdDiv{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourthDiv{
    width: 100%;
    height: 366px;
    display: flex;
    justify-content: space-around;

}
.lastP{
    width: 100%;
    height: 26px;
    text-align: center;
}
.InsideThirdDiv{
    width: 255px;;
    height: 480px;
    background-color: #F16718;
    border-radius: 20px;
}
.bitMap{
    opacity: 50%;
    border-radius: 20px;
}
.secondPic{
    width: 445px;
    height: 480px;
    border-radius: 20px;
    

}
.DivforPic{
    width: 520px;
    height: 480px;
}
.InsidethirdDiv2{
    width: 255px;
    height: 265px;
    
}
.lastDives{
    width: 255px;
    height: 323px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    
    
}
.headerSmallDiv{
    width: 100%;
    height: 58px;


}
.headerP1{
    width: 445px;
    height: 112px;
    font-size: 56px;
    font-family: 'Barlow', "sans-serif";
    text-transform: uppercase;
    font-style: normal;
    color: #162542;
    font-weight: 900;
}
.headerP2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #7B8BAD;
    Width:445px;
    Height:78px;

}
.firstbutton{
    background-color: #F16718;
    border-radius: 8px;
    width: 175px;
    height: 58px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
    font-family: 'Barlow';
}
.afterFirstButtonSpan{
    width: 127px;
    height: 26px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Barlow';
    color: #7B8BAD;
    padding-left: 40px;
}
.PforfourthDiv{
    width: 255px;
    height: 56px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Barlow';
    color: #162542
    
   
}
.boloSpan{
    width: 255px;
    height: 130px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Barlow';
    color: #7B8BAD;
    line-height: 26px;
}
.PForThirdDiv2{
    width: 255px;
    height: 130px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Barlow';
    color: #7B8BAD;
    padding-top: 27px; 
    line-height: 26px;   
   
}

.boloOrangeDiv{
    width: 65px;
    height: 65px;
    background-color: #F16718;
    border-radius: 16px;
    padding-left: 20px;
    padding-top: 20px;
}
.boloOrangeDiv1{

    width: 65px;
    height: 65px;
    background-color: #F16718;
    border-radius: 16px;
    padding-left: 23px;
    padding-top: 17px;
}
.boloOrangeDiv2{

    width: 65px;
    height: 65px;
    background-color: #F16718;
    border-radius: 16px;
    padding-left: 17px;
    padding-top: 20px;
}
.boloOrangeDiv3{

    width: 65px;
    height: 65px;
    background-color: #F16718;
    border-radius: 16px;
    padding-left: 16px;
    padding-top: 15px;
}

.preOrder:hover{
    background-color: #162542;
    color: white;
}
.firstbutton:hover{
    background-color: #FF9B62;
    color: white;
}