@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.container{
    max-width: 1440px;
    width: 100%;
    height: 1870px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    

}
.InsideContainer{
    max-width: 1100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-between;
    
}
.leftCorner{
    width: 127.5px;
    height: 100%;

   
}
.rightCorner{
    width: 127.5px;
    height: 100%;
}
.leftRectangle{
    width: 127.5px;
    height: 236px;
    background-color: #E8EFF2;
    margin-top: 950px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.rightRectangle{

    width: 127.5px; 
    height: 236px;
    background-color: #E8EFF2;
    margin-top: 196px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.headerDiv{
    width: 100%; 
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.orangeDiv{
    width: 40px;
    height: 40px;
    background-color: #F16718;
}
.TM{
    margin-top: 6px;
    margin-left: 5px;
}
.preOrder{
    background-color: #E8EFF2;
    border-radius: 8px;
    width: 175px;
    height: 58px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #162542;
    font-family: 'Barlow';
}

.secondDiv{

    width: 100%;
    height: 480px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}
.InsideSecondDiv{
    max-width: 540px;
    width: 100%;
    height: 480px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;


}
.InsideSecondDiv2{
    max-width: 540px;
    width: 100%;
    height: 480px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
    overflow: hidden;

}
.InsideSecondDivPic{
    width: 540px;
    height: 480px;
    overflow: hidden;
}

.thirdDiv{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.fourthDiv{
    width: 100%;
    height: 366px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

}
.lastP{
    width: 100%;
    height: 26px;
    text-align: center;
    color: #7B8BAD;
}
.InsideThirdDiv{
    width: 255px;;
    height: 480px;
    background-color: #F16718;
    border-radius: 20px;
}
.bitMap{
    opacity: 50%;
    border-radius: 20px;
}
.secondPic{
    width: 445px;
    height: 480px;
    border-radius: 20px;
    

}
.DivforPic{
    width: 520px;
    height: 480px;
}
.InsidethirdDiv2{
    width: 255px;
    height: 265px;
    
}
.lastDives{
    width: 255px;
    height: 323px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    
    
}
.headerSmallDiv{
    width: 100%;
    height: 58px;


}
.headerP1{
    width: 445px;
    height: 112px;
    font-size: 56px;
    font-family: 'Barlow', "sans-serif";
    text-transform: uppercase;
    font-style: normal;
    color: #162542;
    font-weight: 900;
}
.headerP2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #7B8BAD;
    Width:445px;
    Height:78px;

}
.firstbutton{
    background-color: #F16718;
    border-radius: 8px;
    width: 175px;
    height: 58px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
    font-family: 'Barlow';
}
.afterFirstButtonSpan{
    width: 80px;
    height: 26px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Barlow';
    color: #7B8BAD;
    padding-left: 15px;;
    
}
.PforfourthDiv{
    width: 200px;
    height: 56px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Barlow';
    color: #162542;
    
   
}
.PForThirdDiv{
    width: 255px;
    height: 108px;
    font-size: 32px;
    font-weight: 900;
    font-family: 'Barlow';
    color: #162542;
    text-transform: uppercase;
    
   
}
.boloSpan{
    width: 200px;
    height: 130px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Barlow';
    color: #7B8BAD;
    line-height: 26px;
}
.PForThirdDiv2{
    width: 255px;
    height: 130px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Barlow';
    color: #7B8BAD;
    padding-top: 27px; 
    line-height: 26px;   
   
}

.boloOrangeDiv{
    width: 65px;
    height: 65px;
    background-color: #F16718;
    border-radius: 16px;
    padding-left: 20px;
    padding-top: 20px;
}
.boloOrangeDiv1{

    width: 65px;
    height: 65px;
    background-color: #F16718;
    border-radius: 16px;
    padding-left: 23px;
    padding-top: 17px;
}
.boloOrangeDiv2{

    width: 65px;
    height: 65px;
    background-color: #F16718;
    border-radius: 16px;
    padding-left: 17px;
    padding-top: 20px;
}
.boloOrangeDiv3{

    width: 65px;
    height: 65px;
    background-color: #F16718;
    border-radius: 16px;
    padding-left: 16px;
    padding-top: 15px;
}

.preOrder:hover{
    background-color: #162542;
    color: white;
}
.firstbutton:hover{
    background-color: #FF9B62;
    color: white;
}
@media (max-width:768px){
    .container{

        height: 2128px;
        /* padding-left: 40px; */
        /* padding-right: 40px; */
    }
    .leftCorner{
        display: none;
    
       
    }
    .rightCorner{
        display: none;
    }
    /* .headerDiv{
       
        justify-content: space-around;
        
    
    }
    .secondDiv{


        justify-content: space-around;
    
    } 
    /* .thirdDiv{
 
        justify-content: space-around;
        
    } */
    .secondDiv{

        height: 425px;
        width: 689px;
   
    
    
    }
    .headerP1{
        width: 339px;
        height: 96px;
        font-size: 48px;
        line-height: 48px;

    }
    .headerP2{
        font-size: 16px;
        line-height: 26px;
        Width:339px;
        Height:78px;
    
    }
    .firstbutton{
        width: 175px;
        height: 58px;


    }

    
    .InsideSecondDiv{
        width: 478px;
        height: 425px;
    }
    .InsideSecondDiv2{
        width: 478px;
        height: 425px;
        overflow: hidden;
        
        
    }
    .InsideThirdDiv{
        width: 170px;;
        height: 320px;

    }
    .bitMap{
        width: 100%;;
        height: 320px;
    }
    .DivforPic{
        width: 400px;
        height: 320px;
    }
    .secondPic{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        
    
    }
    .InsidethirdDiv2{
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        
    }
    .PForThirdDiv{
      margin-top: 30px;
        
       
    }
    .PForThirdDiv2{
        width: 398px;
        padding-right: 60px;
 
       
    }
    .lastDives{
        width: 255px;
        
        padding-bottom: 40px;

    
        
        
    }
    .fourthDiv{

        height: 800px;

        
    
    }
    .InsideSecondDivPic{
        width: 478px;
        height: 425px;
        overflow: hidden;
        border-radius: none;
    }
    .InsideSecondDiv{
       
        width: 478px;
        height: 425px;
        padding-left: 40px;
      
    
    
    }
  
    .headerDiv{
       
        
        padding-left: 40px;
        padding-right: 40px;
    
    }

    .thirdDiv{

        justify-content: space-around;
        padding-left: 20px;

    }
    .InsidethirdDiv2{
        margin-left: 45px;
    }

    


    
    
    


}